{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="text-primary">Hello world</h1>
    </div>
{% endblock %}
