<div class="container-fluid bg-black text-light">
    <div class="d-flex justify-content-around">
        <div>
            <a class="navbar-brand text-light" href="/"><i class="fas fa-record-vinyl me-1 text-light"></i>Vinylium</a>
            <div class="d-flex flex-column">
                <small>© 2021</small>
                <small>Vinylium ®</small>
            </div>
        </div>
        <div class="d-flex flex-column">
            <a href="" class="text-light text-decoration-none">Mentions légales</a>
            <a href="" class="text-light text-decoration-none">Conditions générales d'utilisation</a>
            <a href="" class="text-light text-decoration-none">Politique de confidentialité</a>
        </div>
        <div class="d-flex flex-column">
            <p>Développé par Tim Messaoudene</p>
            <span class="text-decoration-underline">Ses autres sites :</span>
            <a href="https://www.pratique.fr" class="text-light text-decoration-none">Pratique</a>
            <a href="https://www.dpcfa.com" class="text-light text-decoration-none">DPCFA</a>
        </div>
    </div>
</div>