@charset "UTF-8";


.mh-15{
  max-height: 15rem!important;
}

.mh-12{
  min-height: 12rem!important;
  max-height: 12rem!important;
}

.min-h-17{
  min-height: 17rem;
}

.mx-h-3{
  max-height: 3rem;
}

.mh-20{
  max-height: 20rem;
}

.mh-21{
  max-height: 21rem;
}

.mh-23{
  max-height: 23rem;
}

.he-25{
  height: 25rem;
}

.w-10{
  width: 10% !important;
}


.primary-hover:hover{
  color: $primary!important;
}

.min-vh-92{
  min-height: 92vh;
}

.h-21{
  height: 21rem;
}

body{
  background: ghostwhite;
}

.hp_section_up{
  background-image: url("https://cdn.pixabay.com/photo/2017/08/02/22/51/vinyl-2573856_960_720.jpg");
  min-height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hp_section_down{
  background-image: url("https://cdn.pixabay.com/photo/2018/03/03/12/34/record-3195585_960_720.jpg");
  min-height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
  min-height: 4rem;
}

.form_description{
  height: 10rem!important;
}

.object-fit-cover{
  object-fit: cover;
}

.shadow-hover:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;;
}

.primary-color{
  color: $primary;
}

.mxh-7{
  max-height: 7rem;
}

.mxh-10{
  max-height: 10rem;
}

.admin_vinyl_img{
  height: 10rem;
  width: 10rem;
}