.mh-15{
  max-height: 15rem!important;
}

.mh-12{
  min-height: 12rem!important;
  max-height: 12rem!important;
}

.mh-20{
  max-height: 20rem;
}

.mh-21{
  max-height: 21rem;
}

.mh-23{
  max-height: 23rem;
}

.primary-hover:hover{
  color: $primary!important;
}