{% extends 'base.html.twig' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block body %}
    <h1>{{ genre.name }}</h1>

    <h2>Artistes :</h2>
    <ul class="list-group">
        {% for artist in genre.artists %}
            <li class="list-group-item">
                <a href="{{ path('artist',{id:artist.id}) }}">{{ artist.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
