{% set admin = false %}
{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
    {% set admin = true %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vinylium - {% block title %}{% endblock %}</title>
        <script src="https://kit.fontawesome.com/f3e242d8eb.js" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset("images/vinyl.png") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% include './base_blocks/header.html.twig' %}
        </header>
        <div class="container min-vh-92">
            {% block body %}{% endblock %}
        </div>
        <footer>
            {% include './base_blocks/footer.html.twig' %}
        </footer>
    </body>
</html>
