{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <h1>Gérer les genres</h1>
        <div class="col-2 my-2"><a href="{{ path("add_genre") }}" class="btn btn-primary">Ajouter un genre</a></div>
    </div>
    <div class="row">
        {% for genre in genres %}
            <div class="col-12">
                <h2 class="h5">{{ genre.name }}</h2>
                <a href="{{ path('updateGenre', {id:genre.id}) }}" class="btn btn-info">Mettre à jour</a>
                <a href="{{ path('deleteGenre', {id:genre.id}) }}" class="btn btn-danger">Supprimer</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
