{% extends 'base.html.twig' %}

{% block title %}Tous nos albums{% endblock %}

{% block body %}
    <h1>Nos tracks</h1>
    {% if admin %}
        <a class="btn btn-info mb-3" href="{{ path('add_track') }}">Ajouter une chanson</a>
    {% endif %}
    <div class="row">
        <div class="col-6 border">
            {% for track in tracks %}
                <a href="{{ path('track', {id:track.id}) }}">{{ track.title }}</a>
                <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}